
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {

  width: 509px;
  height: 1522px;
  display: flex;

}



body {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;

  width: 509px;
  height: 1522px;
  border-radius: 8px;
  background-color: #f5f9fd;
  
}

.parent-container {


}

.flickzeelogo-searchbox-container {

  width: 506px;
  height: 125px;
  border-radius: 8px;
  background-color: #182531;

  position: absolute;
  z-index: 3;

}

.flickzee-logo {

  width: 135px;
  height: 27px;

  margin-left: 15px;
  padding-top: 12px;
  margin-bottom: 17px;

}

.human-logo {

  width: 28.3px;
  height: 25px;
  object-fit: contain;

  float: right;
  margin-top: 17px;
  margin-right: 22.7px;

}

.search-box {

  width: 475px;
  height: 48px;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px white;
  background-color: white;

  margin-left: 20px;
  border: none;

}

.input-box {

  width: 415px;
  height: 48px;
  border-radius: 2px;
  border: none;
  padding: 0;  
  outline-style: none;
  padding-left: 10px;

}

.search-button {

  width: 48px;
  height: 48px;
  border-radius: 2px;
  background-color: #ff7a38;

  float: right;
  border: none;
  

}

.img-after-logo {

  width: 506px;
  height: 285px;

  position: relative;
  top: 75px;
  z-index: 2;

}

.multiple-boxes {

  width: 446px;
  height: 961px;
  position: relative;
  z-index: 3;
  top: 40px;
  margin: 0 auto;

}

.movie-name-box {

  width: 446px;
  height: 94px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26);
  background-color: white;

  padding-top: 1px;

}

.movie-name-text {

  width: 422px;
  height: 54px;
  font-family: Lato;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

  margin: 7px 12px;  

}

.text-after-movie-name {

  width: 227px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #888888;

  margin-left: 12px;
  margin-bottom: 0;
  margin-top: 0;
 
}

.where-to-watch-it-box {

  width: 446px;
  height: 117px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: white;
}

.where-to-watch-it-text {

  width: 270px;
  height: 19px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

  margin-left: 12px;
  padding-top: 7px;
  margin-bottom: 7px;

}

.providers-box {

  display: flex;
  
}

.providersimg {

  width: 50px;
  height: 50px;

  display: flex;
  margin-left: 15px;
  margin-right: 15px;

}

.providerstextnetflix {

  width: 37px;
  height: 22px;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;

  margin: 2px auto;

}

.providerstextbalaji {

  width: 42px;
  height: 22px;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;

  margin: 2px auto;

}

.providerstextjio {

  width: 47px;
  height: 22px;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;

  margin: 2px auto;

}

.subs {

  font-size: 8px;

}

.whats-good-about-it-box {

  width: 446px;
  height: 244px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: white;

}

.whats-good-about-it-text {

  width: 270px;
  height: 19px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

  margin-left: 12px;
  padding-top: 14px;
  margin-bottom: 14px;

}

.tags-container {

  display: flex;
  flex-direction: row;
  margin-left: 25px;  
  flex-wrap: wrap;

}

.plusignimg {

  width: 12px;
  height: 12px;

}

.tag-span {

  font-size: 10px;
  color: #939292;

}

.tag-span1 {

  font-size: 10px;
  color: white;

}

.tag-one {

  display: inline-flex;
  width: 135px;
  height: 33px;
  border-radius: 2px;
  border: solid 0.5px #E0DED8;
  align-items: center;
  justify-content: center;
  margin: 5px;

}

.tag-two {

  display: inline-flex;
  width: 90px;
  height: 33px;
  border-radius: 2px;
  border: solid 0.5px #E0DED8;
  align-items: center;
  justify-content: center;
  margin: 5px;

}

.tag-three {

  display: inline-flex;
  width: 125px;
  height: 33px;
  border-radius: 2px;
  border: solid 0.5px #E0DED8;
  align-items: center;
  justify-content: center;
  margin: 5px;

} 

.tag-four {

  display: inline-flex;
  width: 125px;
  height: 33px;
  border-radius: 2px;
  border: solid 0.5px #E0DED8;
  align-items: center;
  justify-content: center;
  margin: 5px;

}

.tag-five {

  display: inline-flex;
  width: 125px;
  height: 33px;
  border-radius: 2px;
  border: solid 0.5px #E0DED8;
  align-items: center;
  justify-content: center;
  margin: 5px;

}

.tag-six {

  display: inline-flex;
  width: 120px;
  height: 33px;
  border-radius: 2px;
  border: solid 0.5px #E0DED8;
  align-items: center;
  justify-content: center;
  margin: 5px;

}

.tag-seven {

  display: inline-flex;
  width: 110px;
  height: 33px;
  border-radius: 2px;
  border: solid 0.5px #E0DED8;
  align-items: center;
  justify-content: center;
  margin: 5px;

}

.tag-eight {

  display: inline-flex;
  width: 165px;
  height: 33px;
  border-radius: 2px;
  border: solid 0.5px #E0DED8;
  align-items: center;
  justify-content: center;
  margin: 5px;

}

.tag-text1 {

  width: 95px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

}

.tag-text11 {

  width: 95px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  
  color: white;
  background-color: #ff7a38;
  padding: 0;
  margin: 0;

}

.tag-text2 {

  width: 53px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

}

.tag-text22 {

  width: 53px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
 
  color: white;
  background-color: #ff7a38;
  padding: 0;
  margin: 0;

}

.tag-text3 {

  width: 85px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

}

.tag-text33 {

  width: 85px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  
  color: white;
  background-color: #ff7a38;
  padding: 0;
  margin: 0;

}

.tag-text4 {

  width: 90px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

}

.tag-text44 {

  width: 90px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  
  color: white;
  background-color: #ff7a38;
  padding: 0;
  margin: 0;

}

.tag-text5 {

  width: 90px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

} 

.tag-text55 {

  width: 90px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: white;
  background-color: #ff7a38;
  padding: 0;
  margin: 0;

}

.tag-text6 {

  width: 80px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

}

.tag-text66 {

  width: 80px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: white;
  background-color: #ff7a38;
  padding: 0;
  margin: 0;

}

.tag-text7 {

  width: 70px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

}

.tag-text77 {

  width: 70px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: white;
  background-color: #ff7a38;
  padding: 0;
  margin: 0;

}

.tag-text8 {

  width: 125px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

}

.tag-text88 {

  width: 125px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: white;
  background-color: #ff7a38;
  padding: 0;
  margin: 0;
  
}

.input-butt {

  margin-top: 12px;
  
}

.newtaginput {

  width: 152px;
  height: 33px;
  border-radius: 2px;
  border: solid 0.5px #E0DED8;
  margin-right: 7px;
  padding-left: 10px;

}

.whom-to-watch-with-box {

  width: 446px;
  height: 204px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: white;

}

.whom-to-watch-with-text {

  width: 270px;
  height: 19px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

  margin-left: 22px;
  padding-top: 10px;
  margin-bottom: 15px;

}

.wtww-pic {

  width: 22px;
  height: 31px;
  object-fit: contain;
  margin-right: 33px;
  
}

.wtww-pic1 {

  width: 40px;
  height: 31px;
  object-fit: contain;

  margin-right: 27px;

}

.wtww-pic2 {

  width: 20px;
  height: 31px;
  object-fit: contain;

  margin-right: 34px;

}

.tick-pic {

  width: 30px;
  height: 30px;
  object-fit: contain;

}

.feedback-box {

  display: flex;
  align-items: center;
  margin-left: 38px;
  margin-bottom: 10px;
  
}

.feedback-boxII {

  display: flex;
  align-items: center;
  margin-left: 26px;
  margin-bottom: 10px;

}

.feedback-boxIII {

  display: flex;
  align-items: center;
  margin-left: 39px;

}

.feedback-box1 {

  display: flex;
  align-items: center;
  height: 35px;
  margin-left: 17px;

}

.color-text-box {

  width: 180px;
  margin-right: 10px;

}

.friends-percntage {

  display: flex;
  height: 17px;
  align-items: center;
  margin-bottom: 2px;

}

.friends-family-self {

  width: 47px;
  height: 17px;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;

  margin-right: 91px;
  margin-top: 0;
  margin-bottom: 0;

}

.sixteen {

  width: 42px;
  height: 17px;
  opacity: 0.89;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #333333;

  margin-top: 0;
  margin-bottom: 0;

}

.sixteenpercent {

  font-size: 10px;
  font-weight: normal;

}

.back-box {

  width: 180px;
  height: 15px;
  border-radius: 2px;
  background-color: #e2e2e2;

  display: flex;

}

.color-box {

  width: 79px;
  height: 16px;
  border-radius: 2px;
  background-color: #fbc02d;

}

.color-box1 {

  width: 150px;
  height: 15px;
  border-radius: 2px;
  background-color: #689f38;

}

.color-box2 {

  width: 67px;
  height: 15px;
  border-radius: 2px;
  background-color: #d32f2f;

}

.user-ratings-box {

  width: 446px;
  height: 254px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: white;

}

.user-ratings-text {

  width: 269px;
  height: 25px;
  font-family: Lato;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;

  margin-left: 17px;
  padding-top: 17px;
  margin-bottom: 7px;  

}

.thumbs-box {

  display: flex;
  height: 35px;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 17px;  

}

.thumbspic {

  width: 35px;
  height: 35px;
  object-fit: contain;
  
}

.num-after-thumbsup {

  width: 30px;
  height: 20px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #689f38;

  margin-left: 10px;
  margin-right: 24px;
  margin-top: 0;
  margin-bottom: 0;

}

.num-after-thumbsdown {

  width: 30px;
  height: 20px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d32f2f;

  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;

}

.imdb {

  width: 60px;
  height: 15px;
  opacity: 0.8;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;

  margin-right: 8px;

}

.rottentomatoes {

  width: 60px;
  height: 30px;
  opacity: 0.8;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;

  margin-right: 8px;

}

.metacritic {

  width: 60px;
  height: 15px;
  opacity: 0.8;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;

  margin-right: 8px;

}

.sixteen2 {

  width: 19px;
  height: 15px;
  opacity: 0.5;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;

  margin-left: 8px;

}

.img-per-text-box {

  display: flex;
  align-items: center;
  margin-left: 17px;

}

.play-img {

  width: 22px;
  height: 22px;
  object-fit: contain;

}

.percentage {

  width: 35px;
  height: 19px;
  opacity: 0.89;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #333333;

  margin-left: 2px;
  margin-right: 4px;

}

.text-after-percentage {

  width: 98px;
  height: 30px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;

}

.plot {

  width: 269px;
  height: 25px;
  font-family: Lato;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;

  position: relative;
  top: 55px;
  margin-bottom: 6px;
  margin-left: 44px;

}

.text-after-plot {

  width: 421px;
  height: 84px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;

  overflow: scroll;
  margin: 0 auto;
  position: relative;
  top: 55px;

}

.want-to-know-more {

  width: 138px;
  height: 25px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

  margin: 0 auto;
  position: relative;
  top: 65px;

}

.last-button {

  width: 148px;
  height: 34px;
  border-radius: 4px;
  border: solid 2px #ff7a38;
  background-color: white;

  position: relative;
  top: 65px;
  margin-left: 181px;
  margin-right: 180px;
  outline-style: thin;

}

.last-button-text {

  width: 104px;
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ff7a38;

  margin: 0 auto;  

}

